<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression" thread-count="2" >

	<test name="BimleshAutomation1">
 		<classes>
			<class name="Tests.LoginPageTest" />
		</classes>
	</test>

	<test name="BimleshAutomation2">
		<classes>
			<class name="Tests.LogoutPageTest" />
		</classes>
	</test>

</suite> 
